[submodule "reference-letters-fastapi-server"]
	path = reference-letters-fastapi-server
	url = https://github.com/panagiotis-bellias-it21871/reference-letters-fastapi-server.git
	branch = main
[submodule "ansible-reference-letter-code"]
	path = ansible-reference-letter-code
	url = https://github.com/panagiotis-bellias-it21871/ansible-reference-letter-code.git
	branch = main
[submodule "reference-letters-vuejs-client"]
	path = reference-letters-vuejs-client
	url = https://github.com/panagiotis-bellias-it21871/reference-letters-vuejs-client.git
	branch = master
